body {
  font-family: Poppins;
  background-color: black;
  color: white;
  margin: 0;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: beige;
}
header {
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}
header a {
  margin-right: 40px;
}
.carasoul {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: -50px;
  position: relative;
}
.carasoul .list .item {
  position: absolute;
  inset: 0 0 0 0;
}
.carasoul .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carasoul .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: beige;
  text-shadow: 0 5px 10px black;
}

.carasoul .list .item .content .author {
  font-weight: bold;
  letter-spacing: 10px;
}
.carasoul .list .item .content .title,
.carasoul .list .item .content .topic {
  font-weight: bold;
  font-size: 5em;
  letter-spacing: 0.3em;
}
.carasoul .list .item .content .topic {
  color: palevioletred;
}
.carasoul .list .item .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carasoul .list .item .content button {
  border: none;
  background-color: beige;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}
.carasoul .list .item .content button:nth-child(2) {
  background-color: transparent;
  color: beige;
  border: 1px solid white;
}
.tumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.tumbnail .items {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.tumbnail .items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.tumbnail .items .content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.tumbnail .items .content .title {
  font-weight: bold;
}
.arrow {
  position: absolute;
  top: 80%;
  right: 50%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrow button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  border: none;
  font-family: "Courier New", Courier, monospace;
  color: beige;
  font-family: bold;
  font-size: large;
  transition: 0.5s;
  z-index: 100;
}
.arrow button:hover {
  background-color: beige;
  color: gray;
}
.carasoul .list .item:nth-child(1) {
  z-index: 1;
}
.carasoul .list .item:nth-child(1) .author,
.carasoul .list .item:nth-child(1) .title,
.carasoul .list .item:nth-child(1) .topic,
.carasoul .list .item:nth-child(1) .des,
.carasoul .list .item:nth-child(1) .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
.carasoul .list .item:nth-child(1) .title {
  animation-delay: 1.2s;
}
.carasoul .list .item:nth-child(1) .topic {
  animation-delay: 1.4s;
}
.carasoul .list .item:nth-child(1) .des {
  animation-delay: 1.6s;
}
.carasoul .list .item:nth-child(1) .buttons {
  animation-delay: 1.8s;
}
.carasoul.next .list .item:nth-child(1) img {
  width: 150px;
  height: 200px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 20px;
  animation: showImg 0.5s linear 1 forwards;
}
@keyframes showImg {
  to {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0;
  }
}
.carasoul.next .tumbnail .items:nth-child(1) {
  width: 0;
  overflow: hidden;
  animation: showTumbnail 0.5s linear 1 forwards;
}
@keyframes showTumbnail {
  to {
    width: 150px;
  }
}
.carasoul.next .tumbnail {
  transform: translateX(150px);
  animation: transformTumbnail 0.5s linear 1 forwards;
}
@keyframes transformTumbnail {
  to {
    transform: translateX(0);
  }
}
.carasoul.prev .list .item:nth-child(2) {
  z-index: 2;
}
.carasoul.prev .list .item:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImage 0.5s linear 1 forwards;
}
@keyframes outImage {
  to {
    width: 150px;
    height: 220px;
    border-radius: 20px;
    left: 50%;
    bottom: 50px;
  }
}
.carasoul.prev .tumbnail .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showTumbnail 0.5s linear 1 forwards;
}
.carasoul.prev .list .item:nth-child(2) .author,
.carasoul.prev .list .item:nth-child(2) .title,
.carasoul.prev .list .item:nth-child(2) .topic,
.carasoul.prev .list .item:nth-child(2) .des,
.carasoul.prev .list .item:nth-child(2) .buttons {
  animation: contentOut 1.5s linear 1 forwards;
}
@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
.carasoul.next .arrow button,
.carasoul.prev .arrow button {
  pointer-events: none;
}
.time {
  width: 0%;
  height: 5px;
  background-color: palevioletred;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}
.carasoul.next .time,
.carasoul.prev .time {
  width: 100%;
  animation: timingRunning 2s linear 1 forwards;
}
@keyframes timingRunning {
  to {
    width: 0;
  }
}
@media screen and (max-width: 678px) {
  .carasoul .list .item .content {
    padding-right: 0;
  }
  .carasoul .list .item .content .title {
    font-size: 30px;
  }
}
